*{
    margin: 0%;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: ghostwhite;
    display: flex;
}
.menu{
    background: rgb(255, 230, 153);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;

}
.menu li{
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    width: 92%;
}
.menu li:nth-child(1){
        background-color: rgba(255, 255, 255, 40%);
        color: blue;
        border-right: 0.2rem solid blue;
}
.btn{
    cursor: pointer;
}
main{
    background-color: rgb(242, 242, 242);
    margin: 0 auto;
    width: 80vw;
    display: block;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
}
.formulario{
    display: flex;
    flex-direction: row;
}
.formulario input:nth-child(2){
    display: none;
}
input{
    
    padding: 0.5rem;
    color: grey;
    font-weight: bold;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 192, 0);
    border-bottom-width: 0.2rem;
    
    margin-right: 0.3rem;
}
.btn{
    background-color: rgb(255, 192, 0);
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: white;

}
h5{
    color: grey;
}
h5 span{
    color: blue;
}
#mensagem-erro{
    font-weight: bold;
    color: red;
    padding: 0.5rem;
}
.inicio{
    
}